<div cdkDropListGroup>
  <div>
    <h2>To do</h2>
    <div
      class='bg-slate-100 p-3'
      cdkDropList
      [cdkDropListData]="todo"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        *ngFor="let item of todo"
        cdkDrag
      >
        {{item}}
      </div>
    </div>
  </div>

  <div >
    <h2>Done</h2>
    <div
      cdkDropList
      [cdkDropListData]="done"
      (cdkDropListDropped)="drop($event)">
      <div
        *ngFor="let item of done"
        cdkDrag
      >
        {{item}}
      </div>
    </div>
  </div>
</div>

